<html ng-app="netgraph" ng-controller="HttpListCtrl">
    <head>
        <meta charset="utf-8">
        <title>[{{reqs.length}}] packetbeat web output</title>
        <link href="main.css" rel="stylesheet">
        <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/snap.svg/0.4.1/snap.svg-min.js"></script>
        <script src="http://cdn.bootcss.com/angular.js/1.4.4/angular.min.js"></script>
        <script src="http://cdn.bootcss.com/angular-websocket/1.0.0/angular-websocket.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body>
        <h2>packetbeat</h2>
        <div class="nav">
        Type:
        <select ng-model="protosType">
            <option value="">all</option>
            <option value="http">http</option>
            <option value="memcache">memcache</option>
            <option value="redis">redis</option>
            <option value="mysql">mysql</option>
            <option value="thrift">thrift</option>
        </select>
        Filter:
        <input ng-model="pattern">

        <input id="stop" type="button" value="Stop" ng-click="stopListen($event)"/>
        <input id="clear" type="button" value="Clear" ng-click="clearRequests($event)"/>
        </div>
        <div class="requests">
            <table width="100%">
                <thead>
                    <tr>
                    <th width="5%">Type</th>
                    <th width="10%">Time</th>
                    <th width="10%">ClientIp</th>
                    <th width="10%">ServerIp</th>
                    <th width="5%">Status</th>
                    <th width="5%">Method</th>
                    <th width="40%">Query</th>
                    <th width="5%">Size</th>
                    <th width="5%">Duration</th>
                    </tr>
                </thead>
                <tr ng-repeat="req in reqs | reqFilter:protosType:pattern" ng-click="showDetail($event, req)">
                    <td>{{ req.type }}</td>
                    <td>{{ req.timestamp }}</td>
                    <td>{{ req.client_ip }}:{{ req.client_port }}</td>
                    <td>{{ req.ip }}:{{ req.port }}</td>
                    <td>{{ req.status }}</td>
                    <td>{{ req.method }}</td>
                    <td>{{ req.query }}</td>
                    <td>{{ req.bytes_out/1000 }}KB</td>
                    <td>{{ req.responsetime }}ms</td>
                </tr>
            </table>
        </div>
        <div id="detail" style="width:100%">
            <div id="request-detail" class="http-detail" style="float: left;">
                <div id="request-first-line" class="first-line">
                    request
                </div>
                <div id="request-head" class="head">
                    <table width="100%">
                        <tr ng-repeat="h in selectedReq.http.request_headers">
                            <td>{{ h.name }}</td>
                            <td width="70%"><p class="break-all">{{ h.value }}</p></td>
                        </tr>
                    </table>
                </div>
                <pre id="request-body" class="body">{{ selectedReq.request }}</pre>
            </div>
            <div id="response-detail" class="http-detail" style="float: right;">
                <div id="response-first-line" class="first-line">
                    response
                </div>
                <div id="response-head" class="head">
                    <table width="100%">
                        <tr ng-repeat="h in selectedReq.http.response_headers">
                            <td>{{ h.name }}</td>
                            <td width="70%"><p class="break-all">{{ h.value }}</p></td>
                        </tr>
                    </table>
                </div>
                <pre id="response-body" class="body">{{ selectedReq.response }}</pre>
            </div>
        </div>
    </body>
</html>